@font-face {
    font-family: digital;
    src: url('../fonts/digital-7.ttf')
}

body {
    background: -webkit-linear-gradient(#e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e6e6, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e6e6, #fff); /* Standard syntax */
    background-repeat: no-repeat;
}

table{
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin: 10px 40px 0 40px;
    text-align: center;
    border-spacing: 10px;
}

td, #log-reset {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #999;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px #000;
}

#log-reset {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding-top: 12px;
    position: absolute;
    right: 150px;
    top: 30px;
    height: 38px;
    width: 250px;
}

#screen {
    font-family: digital;
    display: inline-block;
    height: 50px;
    text-align: right;
    font-size: 40px;
    width: 275px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 60px;
    border: 1px solid #000;
    border-radius: 5px;
}

.container {
    background-color: #b2c2f0;
    border-radius: 10px;
    position: relative;
    width: 900px;
    margin: 80px auto;
    border: 1px solid #000;
}

#reset-text {
    width: 25px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}

.push {
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
}

#mathLog {
    border: 1px solid #000;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 25px;
    height: 300px;
    width: 400px;
}